fieldset {
    display: inline-block;
}

.container {
    width: 700px;
    height: 350px;
    background-color: aquamarine;
    position: relative;
}

#btn {
    position: absolute;
    transition: 0.1s;
    padding: 50px;
}